<div class='container flex-col data-wrapper'>
  <h1>Editing label</h1>

  <%= render "form", label: @label %>

  <div class='container'>
    <div class="actions-2">
      <%= link_to "< Back", labels_path %>
    </div>
  </div>
</div>