<div class='container flex-col'>
  <h1>Labels</h1>

  <div id="labels", class="data-wrapper">
    <% @labels.each do |label| %>
      <div class="label-cnt row">
        <div class="label-name">
          <%= label.name %>
        </div>
        <div class = "label-actions">
          <%= link_to "Edit", edit_label_path(label) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= link_to "New label", new_label_path, class: "format-btn-submit" %>
  </div>
</div>
