<div class='container flex-col'>
  <h1>New label</h1>

  <%= render "form", label: @label %>

  <div class="container padding-lr-2">
    <div class="actions-2">
      <%= link_to "< Back", labels_path, class: "format-btn-submit" %>
    </div>
  </div>
</div>