<!DOCTYPE html>
<html>
<head>
  <title>Journey Cash</title>
</head>
<body class="welcome">
  <div class="splash-screen">
    <div></div>
    <div class="logo">
      <h1 class='font-logo welcome-logo'>Journey Cash</h1>
      <p class= "padding-top-1 welcome-text">Get Ready to Budget Like a Pro!</p>
    </div>
    <div class="welcome-buttons">
      <%= link_to "Log in", new_user_session_path, class: "welcome-btn wb1" %>
      <%= link_to "Register", new_user_registration_path, class: "welcome-btn wb2" %>
    </div>
  </div>
</body>
</html>
