<div id="<%= dom_id payment %>">
  <p>
    <strong>Group:</strong>
    <%= payment.group.name %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= payment.label.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

</div>
