<%= javascript_include_tag 'customfield' %>

<div class='container flex-col'>
  <h1>New transaction</h1>

  <div id="groups" class="cnt-scrollable data-wrapper">
    <%= render "form", payment: @payment %>
  </div>

  <div class="container padding-lr-2">
    <div class="actions-2">
      <%= link_to "< Back", group_path(@payment.group), class: "format-btn-submit" %>
    </div>
  </div>

</div>